
.card {
    background-color: #fff;
    -webkit-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.6);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 35px 20px;
    align-self: flex-start;
    height: auto;
    width: auto;
  }     