.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 220px;
}

.textBlack {

    flex-shrink: 0;
    color: #000;
    font-family: 'Frutiger LT Std';
    font-size: 14px;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
    margin-top: 22px;
}

.textLight {

    flex-shrink: 0;
    color: #000;
    font-family: 'Frutiger LT Std';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 12px;
    color: #000;
    font-family: 'Frutiger LT Std';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ul {
    margin: 11px 0 20px 0;
}

.li {

    color: #000;
    font-family: 'Frutiger LT Std';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    margin-left: 15px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btnContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    width: 153px;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: white;
}

.btn p {
    width: 125px;
    color: #000;
    text-align: center;
    font-family: 'Frutiger LT Std';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clip {
    width: 20px;
    height: 20px;
    color: #000;
}

.downloadContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 41px 4px 8px;
    gap: 5px;
}

.downloadContainer p {
    color: #000;
    text-align: right;
    font-family: 'Roboto Flex';
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.downloadIcon {
    width: 16px;
    height: 16px;
}


@media only screen and (max-width:700px) {

    .container {
        height: 268px;
    }

    .buttonsContainer {
        flex-direction: column;
    }

    .btn {
        margin-right: 24px;
    }

    .downloadContainer {
        align-self: flex-end;
        padding-right: 0;
        margin-top: 25px;
    }
}